@import './../../scss/mixins.scss';

.header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(18, 18, 18, 0.75);
}

.container {
  @include section_container;
}

.offset {
  padding: 10px 0;
}
